<html>

<head>
    

</head>

<body>


   <form name ="edit" action="/category/edit"   method="post" encType="multipart/form-data">
   <table>
        <table width="100%">
            {{!-- <tr>
                <td>The category which you need to edit is :</td>
                <td><name="old_name"></td>
            </tr> --}}
            
            
            <tr>
                <td align="left" width="10%">  Category Name:</td>
                 <td><input type="Text" name="name" value="{{results.name}}"><input type="hidden" name="id" value="{{results.id}}"></td>
                 
                 </tr>
                <br>
                <tr>
                        <td><img src="/upload/{{this.catImg}}" width="100px">
                            <input type="hidden" name="hdn_img" value="/upload/{{results.catImg}}">
                        </td>
                        </tr>

                <tr>
                    <td align="left" width="10%">Edit Image</td>
                    <td><input type="file" name="sampleFile" value="{{result.catImg}}" /></td>
                </tr>
                
                <tr>
                    <td><input type="submit"  value="Add"></td>
                </tr>
                

        



</table>
    </form>
    

</body>

</html>